<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>toneanalyzerPassword</key>
    <string>REPLACEME.toneAnalyzerServiceName.password</string>
    <key>toneanalyzerApikey</key>
    <string>REPLACEME.toneAnalyzerServiceName.apikey</string>
    <key>toneanalyzerUrl</key>
    <string>https://gateway.watsonplatform.net/tone-analyzer/api</string>
    <key>toneanalyzerUsername</key>
    <string>REPLACEME.toneAnalyzerServiceName.username</string>
    <key>appName</key>
    <string>toneanalyzerios</string></dict>
</plist>
